/* CarProducts.css */

.product-catalog-and-cart {
    display: flex;
    flex-direction: column; /* Cambiar a disposición de columna en pantallas pequeñas */
    margin-top: 20px;
}

.catalog,
.cart {
    width: 100%; /* Ocupa todo el ancho en dispositivos móviles */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-bottom: 20px; /* Añade espacio entre las secciones */
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

.product-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
}

.product-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.product-info {
    padding: 10px;
}

.cart-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

.cart-item-info {
    flex: 1;
}

.cart-item-name {
    font-size: 16px;
    font-weight: bold;
}

.cart-item-price {
    font-size: 14px;
    color: #666;
}

.cart-item-quantity {
    font-size: 14px;
    color: #666;
    margin: 0 10px;
}

.button {
    border: none;
    outline: none;
    font-weight: bold;
    cursor: pointer;
    padding: 5px 10px;
}

.btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
    color: #fff;
}

/* Media Query para dispositivos móviles */
@media (max-width: 768px) {
    .product-grid {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); /* Ajustar tamaño de columnas en dispositivos móviles */
    }

    .product-card img {
        height: 150px; /* Reducir altura de las imágenes en dispositivos móviles */
    }

    .catalog,
    .cart {
        width: 100%; /* Ocupar todo el ancho en dispositivos móviles */
    }

    .cart-item-name {
        font-size: 14px; /* Reducir tamaño de fuente en dispositivos móviles */
    }

    .cart-item-quantity {
        font-size: 12px; /* Reducir tamaño de fuente en dispositivos móviles */
    }

    .button {
        padding: 3px 6px; /* Ajustar el padding de los botones en dispositivos móviles */
    }
}

