/* CarProducts.css */

.product-catalog-and-cart {
    display: flex;
    margin-top: 20px;
    position: relative;
}

.catalog
/* ,.cart */
{
    width: 100%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-bottom: 20px;
    overflow: scroll;
    height: 100vh;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Ajusta el tamaño mínimo y máximo de las tarjetas */
    gap: 20px;
    width: 100%; 
    height: 300px;/* Asegura que ocupe todo el ancho disponible */
}

.product-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    /* overflow: hidden; */
}

.product-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}


.product-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}

.product-name {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 8px;
}

.product-price {
    font-size: 14px;
    color: #666;
    margin-bottom: 8px;
}

.btn-primary {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
}

.cart-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

.cart-item-info {
    flex: 1;
}

.cart-item-name {
    font-size: 16px;
    font-weight: bold;
}

.cart-item-price,
.cart-item-quantity {
    font-size: 14px;
    color: #666;
    margin: 0 10px;
}

.button {
    border: none;
    outline: none;
    font-weight: bold;
    cursor: pointer;
    padding: 5px 10px;
}

.delete{
    margin:0 5px;
    background-color: #dc3545;
    border-radius: 2px;
}

.btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
    color: #fff;
}

/* Estilos para el icono de carrito */
.cart-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #007bff;
    color: #fff;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
    z-index: 999;
}

.cart-icon .total{
    position: absolute;
    top: -0.5rem;
    left: 1.9rem;
    font-weight: 700;
    width: 30px;
    height: 30px;
    color: #007bff;

    border-radius: 50%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cart.show {
    display: block;
}

.cart {
    display: none;
    position: fixed;
    top: 20px;
    right: 20px;
    width: 300px;
    max-height: 80vh;
    overflow-y: auto;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    padding: 20px;
    z-index: 998;
}

/* Media Query para dispositivos móviles */
@media (max-width: 768px) {
    .product-grid {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }

    .product-card img {
        height: 150px;
    }

    .product-name,
    .product-price {
        font-size: 12px; /* Reducir tamaño de fuente en dispositivos móviles */
    }

    .cart-item-name {
        font-size: 14px; /* Ajustar tamaño de nombre en dispositivos móviles */
    }

    .cart-item-quantity {
        font-size: 12px; /* Ajustar tamaño de cantidad en dispositivos móviles */
    }

    .button {
        padding: 3px 6px; /* Ajustar padding de botones en dispositivos móviles */
    }

    .cart-item-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 4px;
    }
}
